<section class="intro">
  <div class="row">
    <div class="small-12 centered columns">

      <h1 class="header-main">Modify your settings</h1>
      
    </div>
  </div>
</section>

<div class="form">

  <%= form_for @juicebox, url: juicebox_path(@juicebox.id), :html => {"data-abide" => ''} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <!-- module chooser -->
   <%= render 'shared/module_choice_juicing', f: f %>
  <div id="delivery_preferences">
  <%= render 'shared/delivery_preferences', f: f %>
  </div>


<% end %>
