<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Thank you for your Farmivore order, <%= @box.firstname %>!</h2>
    <p>We're excited to have you on board. If you have any questions, wish to change your order, or wish to cancel your subscription, please email us at hello@farmivore.com. We normally respond within minutes.</p>

    <p>We're looking forward to serving you. See you soon!</p>
    <p>-Rewon and Ray</p> 
    <br /><br />
    <fieldset>
        <%= render 'shared/box_display', box: @box %>
    </fieldset>



  </body>
</html>