@import "constants";
.box-options {
  .header{
    text-transform: uppercase;
    font-size: 72px;
    letter-spacing: 5px;
    font-weight: 300;
    line-height: 60px;
     margin-bottom: 0px;
  }
  .subheader{
    font-size: 22px;
     margin-top: 0px;
    }

}
.box-module {
  border-bottom: $grayLight 1px solid;
  padding: 15px;
}

.box-module .box-module-content {
  font-size: 16px;


  h3.box-module-name {
  }

  .box-module-contents {
    font-style: italic;
    margin-bottom: 10px;
    }
  .box-module-good-for {
    font-style: normal;
    }
  .box-module-units {
    font-size: 150%;
    margin-bottom: 0px;
    }
}
.box-module .box-module-aside {
  // @include grid-column(2, false, true);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  background: $grayLight;
  .price {
    font-size: 48px;
    font-weight: 700;
  }
  .quantity-controls {
    font-size: 24px;
    .increment {
      float: left;
      }
    .decrement {
      float: right;
      }
  }
  .quantity {
    font-size: 30px;
  }
}

