/*
 * How It Works segment
 */
.landing-page section.how-it-works.segment {
  background: white;
  .segment-header {
    color: $grayDark;
  }

  .steps {
    margin-bottom: 40px;
  }
  .step {
    padding: 10px;
    background: $grayLight;
    margin-bottom: 15px;
    font-size: 48px;
    line-height:22px;
    font-weight: bold;
  }
  .step-header {
    //TODO font-family: That blocky font
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
  }
  .step-caption {
    text-transform: uppercase;
    color: $grayDark;
    font-size: 22px;
  }
  .step-options{
    @include block-grid(3, 10px, true);
    padding: 0px 10px;
    margin-top: 0;
  }
  .step-option {
    background: $greenLightAccent;
    padding: 10px;
    font-size: 22px;
    .title {
      font-size: 22px;
      // text-transform: uppercase;
      color: white;
      margin: 0;
    }
    .caption {
      font-size: 16px;
      font-weight: normal;
      color: #555555;
    }
  }
  .order-now {
    @include fv-button;
    font-size: 22px;
    margin: 0px;
  }

  .transition .embellishment {
    width: 50%;
    .inscribed {
      color: $grayDark;
    }
    .triangle {
      @include tri(50px, 10px, $yellow, white);
    }
  }
}

