@import "constants";
/*
 * Introduction segment
 */
.landing-page section.introduction.segment {
  background:  $greenPrimary;
  padding-top: 50px;

  .landing-page-tag {
    margin-top: 20px;
    position: relative;
    text-align: center;
    z-index: 2;
    h1{
    line-height: 56px;
    color: white;
    font-size:56px;
    }
    h4{
    line-height: 56px;
    color: white;
    }
    
    text-shadow: 4px 4px 0px $greenDarkAccent;
    // TODO(syu): Add font;
    // TODO(syu): add different color highlghting for key words in this tag
  }

  #cabbage-image {
    display: block;
    position: absolute;
    width: 560px;
    top: -178px;
    left: -24px;
    z-index: 1;
    max-width: 130%; // TODO(syu) fix
  }

  .parenthetical {
    margin: 30px 0;
  }

  .get-started-button {
    @include fv-button;
    @include button-style($greenPrimary);
    font-size: 18px;
    font-color: white;
    text-shadow: 3px 3px 0px $greenDarkAccent;
    box-shadow: 0px 0px 0px 1px $orange;
  }

  .learn-more-button {
    @include fv-button;
    font-size: 18px;
    font-color: white;
    text-shadow: 3px 3px 0px $orangeShadow;
    box-shadow: 4px 4px 5px $greenDarkAccent;
  }

  .transition .embellishment{
    // left: 250px; // exactly half the width of 6 columns. Centers it.
    width: 50%;
    left: 50%;
    .inscribed {
      color: $greenDarkAccent;
    }
    .triangle {
      @include tri(50px, 10px,white, $greenPrimary);
    }
  }

} // -- end section.introduction
