@import "constants";
/*
 * Why Join? segment
 */
.landing-page section.why-join.segment {
  background: $yellow;
  // border-bottom: 3px dashed #555555;
  .segment-header {
    color: $darkGray3;
  }
  p {
    font-size: 18px;
  }
  .get-started{
    text-align: center;
    margin-bottom: 20px;
    a.get-started-button{
      @include fv-button;
      font-size: 25px;
      font-color: white;
      text-shadow: 3px 3px 0px $orangeShadow;
      box-shadow: 4px 4px 5px darken($yellow, 30%);
      margin: 0 auto;
      text-align: center;
    }
  }
  h3 {
    font-family: "zug";
  }
}
