<div class="landing-page">



  <div class="introduction segment">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="landing-page-tag">
          A box of the freshest produce <br>
          from local farms, <br>
          delivered to your door.</h1>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= image_tag('cabbage_600.png') %>
        </div>
        <div class="large-6 columns">
          <%= link_to 'Get started!', new_box_path, :class => "button" %>
        </div>
      </div>
    </div>
  </div>
<hr>

    <div class="row">
      <div class="large-12 columns">
        <h5>How it works</h5>
      </div>
    </div>
</div> <%# end landing-page %>
<hr>





<%#============= START MIDDLE ================ %>
  <div class="middle_div">
    <div class="row">
      <div class="large-12 columns">
        <h2>How it works</h2>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <h1>1</h1>
      </div>
      <div class="large-9 columns">
        <div class="row">
          <div class="large-12 columns">
            <h3>Choose a box</h3>
          </div>
        </div>
        <div class="row">
          <ul class="large-block-grid-3">
            <li><div class="title">Raw Box</div><div class="description">Fruits, greens, and veggies, ready to eat. </div></li>
            <li><div class="title">Cooking Box</div><div class="description">All raw box items plus cooking vegetables (potatoes, squash, eggplant, etc).</div></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <h1>2</h1>
      </div>
      <div class="large-9 columns">
        <div class="row">
          <div class="large-12 columns">
            <h3>Choose a plan</h3>
          </div>
        </div>
        <div class="row">
          <ul class="large-block-grid-2">
            <li><div class="title">Week by week</div></li>
            <li><div class="title">Seasonal subscription</div></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <h1>3</h1>
      </div>
      <div class="large-9 columns">
        <div class="row">
          <div class="large-12 columns">
            <h3>Feast</h3>
          </div>
        </div>
        <div class="row">
          <div class="large-8 columns"><p>Boxes are packed with seasonal produce at the peak of freshness, then delivered to you.</p></div>
          <div class="large-4 columns"><%= link_to 'Get started!', new_box_path, :class => "button" %></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h5>Why do it</h5>
      </div>
    </div>

  </div>
<%#============= START THIRD================ %>

  <div class="third_div">

    <div class="row">
      <div class="large-12 columns">
        <h5>Really fresh produce.</h5>
        <p>Your box comes straight to you from local farms. Taste the difference.</p>
        <h5>Seasonal ingredients</h5>
        <p>Food tastes best in season. We figure out what's growing when, so you don't have to.</p>
        <h5>Eat nutritiously without breaking the bank</h5>
        <p>Taking out the middleman makes our boxes affordable for anyone</p>
        <h5>Support local economies</h5>
        <p>Buy from local farmers and watch your community thrive</p>
      </div>
    </div>





    <div class="row">
      <div class="large-12 columns">
        <h5>Get started now</h5>
      </div>
    </div>
  </div>

  <div class="forth_div">
    <div class="row">
      <div class="large-8 columns"><h3>It's never been easier to eat fresh, healthy, and nutritious food.</h3></div>
      <div class="large-4 columns"><%= link_to 'Get started!', new_box_path, :class => "button" %></div>
    </div>
    </div>
