<div class="centered">

  <div class="row">
    <div class="small-12 large-12 columns">
       <h1>Fresh produce from farmers. Delivered.</h1>
    </div>
  </div>
 
  <div class="row">
    <div class="small-12 large-12 columns">
      <h3>How it works:</h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns">
      <ul class="small-block-grid-3">
      <li><%=image_tag('i-choose-you-pikachu.jpg') %><p><strong>Step one:</strong> Select the box that fits your preferences</p></li>
      <li><%=image_tag('farmers-packing.jpg') %><p><strong>Step two:</strong> Local farmers will pack it with what's fresh this week</p></li>
      <li><%=image_tag('veggieboxes-glamglow-2.jpg') %><p><strong>Step three:</strong> Find it on your door or a community pickup spot.</p></li>
     </ul>
    </div>
  </div>

  <div class="row">
    <div class="small-6 large-6 columns">
      <h5>The produce is exclusively from local farms</h5><p>We think that its important and will give you the freshest ingredients possible.  We trust that by supporting local economies, it will end up benefiting us all.</p>
      <h5>Produce never sits in a warehouse</h5><p>We take produce directly from the farmer's hands (usually when he comes to town for market) and immediately deliver it to you. We don't compromise on freshness or quality.</p>
       <h5>Quality guaranteed</h5><p>The boxes are hand packed with the best of what the market has to offer. We guarantee that our produce will be fresh and delicious.</p>
    </div>
  </div>

</div>


