<div class="centered">
<p>Stuff to think about -- differentiate between certified organic and not?</p>

<p>Link below leads to product select page</p>
<p><%= link_to "Get started", new_box_path %></p>



</div>