<div class="landing-page">



  <section class="introduction segment">
    <div class="large-12 columns">
      <h1 class="landing-page-tag">
        A box of the freshest produce <br>
        from local farms, <br>
        delivered to your door.
      </h1>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= image_tag 'cabbage_600.png', id: "cabbage-image" %>
      </div>
      <div class="large-6 columns centered">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <% #image_tag 'parenthetical_starting_at_250.png', class: "parenthetical" %>
        <%= link_to 'GET STARTED', new_box_path, class: "get-started-button" %>
      </div>
    </div>

    <div class="row transition">
      <div class="embellishment">
        <div class="triangle"> <div class="outer"> </div> <div class="inner"> </div> </div>
        <h5 class="inscribed">HOW IT WORKS</h5>
      </div>
    </div>
  </section>
  <%# End segment introduction %>




  <%# Start segment How It Works %>
  <section class="how-it-works segment">
    <div class="row">
      <div class="large-12 columns">
        <h2 class="segment-header">How it works</h2>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns centered">
        <ol class="steps">
          <%# STEP ONE======================= %>
          <li class="step">
                <h3 class="step-header">Choose a box</h3>
                <ul class="step-options">
                  <li>
                    <div class="step-option">
                      <h5 class="title">Raw box </h5>
                      <span class="caption">Fruit, salad greens, carrots, celery, etc</span>
                    </div>
                  </li>
                  <li>
                    <div class="step-option">
                      <h5 class="title">Cooking box </h5>
                      <span class="caption">Fruit, greens, root vegetables, etc</span>
                    </div>
                  </li>
                  <!--<li>
                    <div class="step-option">
                      <h5 class="title">Raw box </h5>
                      <span class="caption"> Fruits, greens, &amp; veggies</span>
                    </div>
                  </li>-->
                </ul>
          </li>
          <%# STEP TWO======================= %>
          <li class="step">
                <h3 class="step-header">Choose a plan</h3>
                <ul class="step-options">
                  <li>
                    <div class="step-option">
                      <h5 class="title">Weekly subscription</h5>
                    </div>
                  </li>
                  <li>
                    <div class="step-option">
                      <h5 class="title">1-Month Plan</h5>
                    </div>
                  </li>
                  <li>
                    <div class="step-option">
                      <h5 class="title">3-Month Plan</h5>
                    </div>
                  </li>
                </ul>
          </li>
          <%# STEP THREE======================= %>
          <li class="step">
            <h3 class="step-header">Feast!
                <span class="step-caption"> Your box is always fresh and seasonal. </span>
                <span class="order-now">
                  <%= link_to 'ORDER NOW', new_box_path, class: "order-now-button" %>
                </span>
            </h3>
          </li>

        </ol>
        <%# End STEPS========================================= %>
      </div>
    </div>

    <div class="row transition">
      <div class="embellishment">
        <div class="triangle"> <div class="outer"> </div> <div class="inner"> </div> </div>
        <h5 class="inscribed">WHY JOIN?</h5>
      </div>
    </div>

  </section>
  <%# End segment How It Works %>


  <section class="why-join segment">

    <div class="row">
      <div class="large-12 columns">
        <h2 class="segment-header">Why join?</h2>
      </div>
    </div>

    <div class="row">
      <div class="large-8 large-centered columns">
        <h3>Really fresh produce.</h3>
        <p>Your box comes straight to you from local farms. Taste the difference.</p>
        <h3>Seasonal ingredients</h3>
        <p>Food tastes best in season. We figure out what's growing when, so you don't have to.</p>
        <h3>Eat nutritiously without breaking the bank</h3>
        <p>Taking out the middleman makes our boxes affordable for anyone</p>
        <h3>Support local economies</h3>
        <p>Buy from local farmers and watch your community thrive</p>
        <div class="get-started">
          <%= link_to 'GET STARTED', new_box_path, class: "get-started-button" %>
        </div>
      </div>
    </div>
  </section>
</div> <%# end landing-page %>
