<div class="introduction">
  <div class="row">
    <div class="large-12 columns">
      <h1>A box of the freshest produce from local farms, delivered to your door</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= image_tag('veggieboxes-glamglow-2.jpg') %>
    </div>
    <div class="large-6 columns">
      <p>[Left is filler image 4 lettuce] Your first delivery is on us!</p>
      <div class="button"><%= link_to 'Get started!', new_box_path %></div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h5>How it works</h5>
    </div>
  </div>
</div>

<div class="middle_div">
  <div class="row">
    <div class="large-12 columns">
      <h2>How it works</h2>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <h1>1</h1>
    </div>
    <div class="large-9 columns">
      <div class="row">
        <div class="large-12 columns">
          <h3>Choose a box</h3>
        </div>
      </div>
      <div class="row">
        <ul class="large-block-grid-3">
          <li><div class="title">Raw Box</div><div class="description">Fruits, greens, and veggies, ready to eat. </div></li>
          <li><div class="title">Cooking Box</div><div class="description">All raw box items plus cooking vegetables (potatoes, squash, eggplant, etc).</div></li>
          <li><div class="title">Jumbo Box</div><div class="description">Highest value. A large box with a wide variety of raw and cooking vegetables</div></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <h1>2</h1>
    </div>
    <div class="large-9 columns">
      <div class="row">
        <div class="large-12 columns">
          <h3>Choose a plan</h3>
        </div>
      </div>
      <div class="row">
        <ul class="large-block-grid-2">
          <li><div class="title">Week by week</div></li>
          <li><div class="title">Seasonal subscription</div></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row">
    <div class="large-3 columns">
      <h1>3</h1>
    </div>
    <div class="large-9 columns">
      <div class="row">
        <div class="large-12 columns">
          <h3>Feast</h3>
        </div>
      </div>
      <div class="row">
        <div class="large-8 columns"><p>Boxes are packed with seasonal produce at the peak of freshness, then delivered to you.</p></div>
        <div class="large-4 columns"><div class="button"><%= link_to 'Get started!', new_box_path %></div></div>
      </div>
    </div>
  </div>

</div>

