
  <div class="centered">
     <header>
       <div class="row">
          <div class="large 12 columns"></div>
       </div>
     </header>
    <div class="blockgrid">
      <%= image_tag('lettuce-iphone.jpg') %>
    </div>
     <div class="row">
          <div class="large 12 columns"><h1>See today's fresh harvest.</h1></div>
     </div>
       <div class="row">
          <div class="large 12 columns"><p>Listings straight from the farmer's hands.</p><p><em>Now serving: <%= link_to 'Wooster Square, New Haven', place_path(1) %></em></p></div>
     </div>

           <hr class="style-eight"/>


      <div class="row">
          <div class="large 12 columns"><p><strong>For farmers:</strong> <br />List your produce just using your phone. <%= link_to 'Learn more', new_contact_path %></p><br /><br /></div>
     </div>


  </div>

  

    <%= javascript_include_tag "mvp" %>
