<h1>List of our pickups</h1>
 
<table>
  <tr>
    <th>Farm ID</th>
    <th>Place ID</th>
    <th>Address</th>
    <th>Zip code</th>
  </tr>
 
  <% @pickup.each do |pickup| %>
    <tr>
      <td><%= pickup.farm_id %></td>
      <td><%= pickup.place_id %></td>
       <td><%= pickup.address %></td>
      <td><%= pickup.zip %></td>
    </tr>
  <% end %>
</table>