<p>
  <strong>farm id:</strong>
  <%= @pickup.farm_id %>
</p>

<p>
  <strong>place id:</strong>
  <%= @pickup.place_id %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @pickup.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @pickup.zip %>
</p>
