<section class="intro">
  <div class="row">
    <div class="small-12 centered columns">

      <h1 class="header-main">Modify your settings</h1>
      
    </div>
  </div>
</section>

<div class="form">

  <%= form_for @box, url: box_path(@box.id), :html => {"data-abide" => ''} do |f| %>

  

  <%= render 'shared/error_messages', object: f.object %>
  <%= render 'shared/delivery_preferences', f: f %>



<% end %>
