<section class="intro">
  <div class="row">
    <div class="small-12 columns left location">
      <p><a href="mailto:hello@farmivore.com?Subject=Delivery%20Locations&Body=Please%20add%20(my%20city)%20soon!">(<span data-tooltip class="has-tip" title="Click to let us know!">Want us to serve your city next?</span>)</a></p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns centered">
      <h3><span id="step1">Pick a Box > </span><span id="step2">Delivery Preferences > </span><span id="step3"> Checkout </span></h3>
      <h4 class="subheader"><span id="tagline">How big is your appetite? Choose a plan.</span></h4>
    </div>
  </div>
</section>



<div class="form">
  <%= form_for @box, url: boxes_path, :html => {"data-abide" => ''} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<!-- module chooser -->
   <%= render 'shared/module_choice', f: f %>
     
<!--  begin delivery preferences -->
  <div id="delivery_preferences">
    <%= render 'shared/delivery_preferences', f: f %>
  </div>

 <% end %>
</div>
