



<div class="row">
  <div class="small-12 centered columns">

      <h1><%= @box.firstname + ' ' + @box.lastname %>'s order</h1>

   <section class="show-box"> <!-- start tabs -->
    <div class="row"> 
      <div class="small-12 columns">
        <%= render 'shared/box_display', box: @box %>
      </div>
    </div>
  </section>
  
  </div>
</div>
 


