<%# create_table "boxes", force: true do |t|
    t.integer  "box_num"
    t.string   "firstname"
    t.string   "lastname"
    t.string   "email"
    t.string   "phone"
    t.integer  "frequency"
    t.integer  "delivery_preference"
    t.string   "street"
    t.string   "street2"
    t.string   "city"
    t.string   "state"
    t.string   "zip"
    t.string   "instructions"
    t.datetime "created_at"
    t.datetime "updated_at"
    t.string   "startdate"
    t.integer  "raw_num"
    t.integer  "cook_num"
    t.integer  "fruit_num"
    t.boolean  "text_me"
    t.boolean  "call_me"
    t.string   "neighborhood"
  end %>



<div class="row">
    <div class="small-12 centered columns">

      <h1><%= @box.firstname + ' ' + @box.lastname %>'s order</h1>

       <section class="show-box"> <!-- start tabs -->
        <div class="row"> 
          <div class="small-12 columns">
            <%= render 'shared/box_display', box: @box %>
          </div>
        </div>
      </section>
      
    </div>
  </div>
 


