<h3>Box details</h3>
            <p>
              This box is a <strong><%= @box.get_box_name %></strong> delivered <strong><%= @box.frequency_string %></strong>.  
            </p>

            <p>
              Every week, 4 days before the delivery of goods, the total amount of <strong><%= @box.get_price_string %></strong> will be charged to your debit card.
            </p>