<section class="box-select">
  <div class="row">
    <div class="small-12 columns">
      <div class="row">

        <ul class="medium-block-grid-3 small-block-grid-1 box-num centered">
            <li>
              <h3>Starter Box</h3>
              Week's produce for <span data-tooltip class="has-tip" title="Enough to cook 2-3 meals for 1-2 people">1-2 people</span>

              <h1>Image<br /><br /></h1>
              <h4>$40 per box</h4>
              <div class="row no-subscribe">
                <div class="small-12 columns">
                  <p>Single subscription-free box. <br /><em>Great for trying it out!</em></p>
                </div>
              </div>
            </li>
            <li>
              <h3>Standard Box</h3>
              Week's produce for <span data-tooltip class="has-tip" title="Enough to cook 2-3 meals for 1-2 people">1-2 people</span>
              <h1>Image<br /><br /></h1>
              <h4>$35 per box</h4>
              <div class="row subscribe">
                <div class="small-12 columns">
                  <p>Flexible subscription. <br /><em>Opt-out or cancel anytime.</em></p>
                </div>
              </div>
            </li>

            <li>
              <h3>Family Box</h3>
              Week's produce for <span data-tooltip class="has-tip" title="Enough to cook 2-3 meals for 3-4 people">3-4 people</span>
              <h1>Image<br /><br /></h1>
              <h4>$60 per box</h4>
              <div class="row subscribe">
                <div class="small-12 columns">
                  <p>Flexible subscription.<br /><em>Opt-out or cancel anytime.</em></p>
                </div>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns centered">
      <h3>See what's inside the box</h3>
      <i class="fa fa-caret-down"></i>
      <div class="row">
        <div class="small-12 columns">
          <p> Hello there</p>
        </div>
      </div>
    </div>
  </div>
</section>
