<section class="box-select">
  <div class="row">
    <div class="small-12 columns">
      <div class="row">

        <ul class="medium-block-grid-3 small-block-grid-1 box-num">
            <li>
              <h3>Starter Box</h3>
              <h1>Image<br /><br /></h1>
              <h3>$40 per box</h3>
            </li>
            <li>ABC</li>
            <li>DEX</li>
        </ul>



      </div>
    </div>
  </div>
</section>
