
            </div>
          </div>
<!-- End Form -->  
        </div>
      </div>
<!-- End Navbar Section -->
    </div>
<!-- Summary Page Page 2+ -->
<% if !summary.empty? %>
      <div class="medium-4 small-12 columns">
        <div class="summary">
          <h4><%= summary[:title] %></h4>
        </div>
      </div>
<% end %>
<!-- Summary Page Page 2+ -->

  </div>
</section>
