<section class="delivery">
  <div class="row">
    <div class="medium-8 small-12 columns">
      
      <div class="row">
        <div class="small-12 columns">

<!--  Form Navigation -->
        <% if !stage.nil? %>
          <div class="row form-nav">
            <div class="wedge">
              <ul class="small-block-grid-3">
                <li<% if stage == 1 || stage == 2 || stage == 3 %> class="active" <% end %>> <span class="numeral">1.</span><h3>Sign up</h3></li>
                <li<% if stage == 2 || stage == 3 %> class="active" <% end %>><span class="numeral">2.</span><% if stage ==3 %><h3><%= link_to 'Order', edit_order_path(order) %></h3><% else %><h3>Order</h3><% end %></li>
                <li<% if stage == 3 %> class="active" <% end %>><span class="numeral">3.</span><h3>Payment</h3></li>
              </ul>
            </div>
          </div>
        <% end %>
<!--  Form Navigation -->

<!-- Form -->         
          <div class="row form">
            <div class="small-12 columns">