<div class="row">
  <div class="small-9 medium-9 large-9 columns small-centered medium-centered large-centered">

  <%= link_to '<h3>Get started >></h3>'.html_safe, products_select_path, class: "orange-button signup-button" %>

  </div>
</div>