
  <%= link_to '<h3>Join Now</h3><small>Click here to get started</small><p class="price-tag"><strong>$40</strong><br />per week</p>'.html_safe, products_select_path, class: "green-button signup-button-large" %>