<div class="row">
  <div class="small-9 medium-9 large-9 columns small-centered medium-centered large-centered">

  <%= link_to '<h3>Join Now</h3><small>Click here to get started</small>'.html_safe, products_select_path, class: "green-button signup-button-large" %>

  </div>
</div>

<%# 
This is for having the price tag on the front page
<p class="price-tag"><strong>$40</strong><br />per week</p>  %>