
<!--  Form Navigation -->
<div class="row progress-bar">
  <div class="small-12 columns">
    <div class="progress secondary success round">
      <% if stage === 1 %>
        <ul class="small-block-grid-3 centered labels">
            <li class="active">Subscription</li>
            <li>Delivery Info</li>
            <li>Payment</li>
          </ul>
        <span class="meter" style="width: 33%">
        </span>
      <% elsif stage === 2%>
        <ul class="small-block-grid-3 centered labels">
            <li><%= link_to 'Subscription', products_select_path %></li>
            <li class="active">Delivery Info</li>
            <li>Payment</li>
          </ul>
        <span class="meter" style="width: 67%">
        </span>
      <% elsif stage === 3 %>
        <ul class="small-block-grid-3 centered labels">
            <li><%= link_to 'Subscription', products_select_path %></li>
            <li><%= link_to 'Delivery Info', edit_order_path(order) %></li>
            <li class="active">Payment</li>
          </ul>
        <span class="meter" style="width: 100%">
        </span>
      <% else %>
      <% end %>

    </div>
  </div>
</div>
<!--  Form Navigation -->

