<h3>Farmivore Terms of Use</h3>
<p>Farmivore, Inc. (“Farmivore,” “we,” “us,” or “our”) thanks you for visiting our website.  We provide access to our Services subject to the following Terms of Use, which may be updated by us from time to time without notice to you.  By browsing the public areas of the Website or by accessing and using the Platform, you acknowledge that you have read, understood, and agree to be legally bound by these Terms of Use and the terms and conditions of our Privacy Policy, which are hereby incorporated by reference (collectively, this “Agreement.”).  If you do not agree to any of these terms, then please do not use the Website or the Platform. </p><p>

Capitalized terms not defined in these Terms of Use shall have the meaning set forth in our Privacy Policy.</p><p>

1.         DESCRIPTION AND USE OF THE PLATFORM
</p><p>
Farmivore is a new concept in produce distribution, centered around our unique and easy subscription Plans.  Through our Platform, we offer delivery of fresh produce designed and packaged to easily fit into your lifestyle.  Through our unique sourcing Platform from local, regional, and international farms, we are able to offer you high quality, fresh produce at a low cost. 
</p><p>
We provide Visitors and Subscribers with access to our Website and Platform as described in this Agreement.
</p><p>
Visitors.  Visitors, as the term implies, are people who do not register with us, but want to view all publicly-accessible Content (as defined in Section 7). 
</p><p>
Subscribers.  Registration and login is required for all Subscribers.  In addition to viewing all publicly-accessible Content, Subscribers can use our Platform to: (i) select the type of plan you want, the number of people and begin receiving our fresh ingredients and delicious recipes; (ii) provide us feedback in our online forum and upload content, including text, videos, and photos (collectively, “User Content”); (iii) sign up for alerts, other notifications, and our newsletter; and (iv) sign up for our contests, promotions, and sweepstakes.
</p><p>
We are under no obligation to accept any individual as a Subscriber, and may accept or reject any registration in our sole and complete discretion. 
</p><p>
2.         COMMUNITY GUIDELINES
</p><p>
By accessing and/or using the Website or the Platform, you hereby agree to comply with these community rules and that: 
</p><p>
Subscribers must be the age of majority in their jurisdiction and capable of entering into binding contracts;</p><p>
You will not use the Website or the Platform for any unlawful purpose;
Subscribers may not use the Services to engage in any commercial activities, including, without limitation, raising money; advertising or promoting a product, service, or company; or engaging in any pyramid or other multi-tiered marketing scheme;</p><p>
You will not upload, post, e-mail, transmit, or otherwise make available any User Content that:</p><p>
is false, deceptive, misleading, deceitful, or misinformative;</p><p>
infringes any copyright, trademark, trade secret, right of publicity, or other proprietary rights of any person or entity;</p><p>
is threatening, tortious, defamatory, libelous, indecent, obscene, pornographic, invasive of another’s privacy, or promotes violence; or
discloses any sensitive information about another person, including that person’s e-mail address, postal address, phone number, credit card information, or any similar information;</p><p>
You will not access or use the Website or the Platform to collect any market research for a competing business;</p><p>
You will not impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity;</p><p>
You will not take any action that imposes or may impose (in our sole discretion) an unreasonable or disproportionately large load on our technical infrastructure;
You will not use automated means, including spiders, robots, crawlers, data mining tools, or the like to download or scrape data from the Website or Platform, except for Internet search engines (e.g., Google) and non-commercial public archives (e.g., archive.org) that comply with our robots.txt file;
You will not cover, obscure, block, or in any way interfere with any advertisements and/or safety features (e.g., report abuse button) on the Website or the Platform; and </p><p>
You will not interfere with or attempt to interrupt the proper operation of the Website or the Platform through the use of any virus, device, information collection or transmission mechanism, software or routine, or access or attempt to gain access to any data, files, or passwords through hacking, password or data mining, or any other means.  </p><p> 
Please let us know about inappropriate content.  If you find something that violates our community guidelines, let us know, and we’ll review it.  We reserve the right, in our sole and absolute discretion, to deny you access to the Platform, or any portion of the Services, without notice, and remove any User Content that does not adhere to these guidelines.
</p><p>
3.         REGISTRATION FOR SUBSCRIBERS
</p><p>
During the registration process for Subscribers, we will ask you to create an account, which includes a sign-in name (“Sign-In Name”), a password (“Password”), and perhaps certain additional information that will assist in authenticating your identity when you log-in in the future (“Unique Identifiers”).  When creating your account, you must provide true, accurate, current, and complete information.  Each Sign-In Name and corresponding Password can be used by only one Subscriber.  You are solely responsible for the confidentiality and use of your Sign-In Name, Password, and Unique Identifiers, as well as for any use, misuse, or communications entered through the Platform using one or more of them.  You will promptly inform us of any need to deactivate a Password or Sign-In Name, or change any Unique Identifier.  We reserve the right to delete or change your Password, Sign-In Name, or Unique Identifier at any time and for any reason.  Farmivore will not be liable for any loss or damage caused by any unauthorized use of your account. </p><p>

4.         PAYMENT
</p><p>
You agree that Farmivore may immediately authorize your credit card (or other approved facility) for payment for any charges incurred under your account.  
</p><p>
You are fully responsible for all activities that occur under your account, and you agree to be personally liable for all charges incurred under your account.  Your liability for such charges shall continue after termination of this Agreement.
</p><p>
If you have a question about any Farmivore charge on your credit card statement, please follow the instructions found on the Website to contact customer service.
</p><p>
5.         SUBSCRIPTION
</p><p>
When you sign up to become a Subscriber, your subscription will automatically renew until you cancel it.  You can skip a delivery or cancel your membership at any time.  Please visit the "Orders" section of the Website on instructions on how to do so.  Please be aware, however, that because we plan, purchase, and prepare our produce in advance, both the skipping service and cancellation request require advanced notice to Farmivore, as set forth more specifically on the Website.  If you miss these deadlines, you will be responsible for paying the applicable amount, and the cancellation will take effect the next week. 
</p><p>
If you are not home when a delivery arrives, our delivery person will leave the package for you at your door. 
</p><p>
If you would prefer that someone have to sign for the delivery, please let us know the specific instructions.  In such cases, if you, your doorman, your neighbor, or your alternate receiver is not present at the time of delivery, we will use commercially reasonable efforts to contact you and reschedule the delivery (in which case our standard redelivery fee shall apply).  If we are unable to reschedule the order for any reason, the order will be canceled and you will be charged the applicable fee for the order and the redelivery fee.
</p><p>
Anyone at the delivery address who receives the delivery is conclusively presumed to be authorized to receive the delivery.  In cases in which you have designated an alternative receiver, such person shall accept the produce under all of the same terms and conditions that would apply had you accepted the delivery yourself.
</p><p>
In the case of inclement weather, we will deliver your order as soon as reasonably possible when the conditions permit.  If your designated delivery location is inaccessible, rendering us unable to make the delivery, we will contact you to determine the best alternate location and/or date for the delivery.</p><p>

6.         LIMITED WARRANTY AND RETURN POLICY
</p><p>
All of our boxes are backed by a 100% customer satisfaction guarantee.  If you are dissatisfied with a box for any reason, please contact us via the Services within seven (7) days after delivery, and we’ll either replace the box at our expense or credit you the purchase price for that box.
</p><p>
7.         INTELLECTUAL PROPERTY
</p><p>
The Platform contains material, such as software, text, graphics, images, sound recordings, audiovisual works, and other material provided by or on behalf of Farmivore (collectively referred to as the “Content”).  The Content may be owned by us or other third parties.  The Content is protected under both United States and foreign laws.  Unauthorized use of the Content may violate copyright, trademark, and other laws.  You have no rights in or to the Content, other than your own User Content, and you will not use the Content except as permitted under this Agreement.  No other use is permitted without prior written consent from us.  You must retain all copyright and other proprietary notices contained in the original Content on any copy you make of the Content.  You may not sell, transfer, assign, license, sublicense, or modify the Content or reproduce, display, publicly perform, make a derivative version of, distribute, or otherwise use the Content in any way for any public or commercial purpose.  
</p><p>
If you violate any part of this Agreement, your permission to access and/or use the Content, the Platform, and the Services automatically terminates, and you must immediately destroy any copies you have made of the Content.
</p><p>
The trademarks, service marks, and logos of Farmivore (the “Farmivore Trademarks”) used and displayed on the Platform are registered and unregistered trademarks or service marks of Farmivore.  Other company, product, and service names located on the Platform may be trademarks or service marks owned by others (the “Third-Party Trademarks”, and, collectively with Farmivore Trademarks, the “Trademarks”).  Nothing in this Agreement should be construed as granting, by implication, estoppel, or otherwise, any license or right to use the Trademarks, without our prior written permission specific for each such use.  Use of the Trademarks as part of a link to or from any site is prohibited unless establishment of such a link is approved in advance by us in writing.  All goodwill generated from the use of Farmivore Trademarks inures to our benefit.
</p><p>
Elements of the Website and the Platform are protected by trade dress, trademark, unfair competition, and other state, federal, and national laws and may not be copied or imitated, in whole or in part, by any means, including but not limited to the use of framing or mirrors. 
</p><p>
8.         COMMUNICATIONS TO US; USER CONTENT
</p><p>
Although we encourage you to e-mail us, we do not want you to, and you should not, e-mail us any content that contains confidential information.  With respect to all e-mails you send to us, including but not limited to, feedback, questions, comments, suggestions, and the like, we shall be free to use any ideas, concepts, know-how, or techniques contained in your communications for any purpose whatsoever, including, but not limited to, the development, production and marketing of products and services that incorporate such information, without compensation to you.
</p><p>
As noted above, the Services provide Subscribers the ability to post and upload User Content to the Platform.  You expressly acknowledge and agree that once you submit your User Content, unless you designate it as “private,” it will be accessible by others, and that there is no confidentiality or privacy with respect to such User Content, including, without limitation, any personally identifying information that you may make publicly available.  YOU, AND NOT Farmivore, ARE ENTIRELY RESPONSIBLE FOR ALL THE USER CONTENT THAT YOU UPLOAD, POST, E-MAIL, OR OTHERWISE TRANSMIT VIA THE PLATFORM.
</p><p>
You retain all copyrights and other intellectual property rights in and to your own User Content.  You do, however, hereby irrevocably grant us and our sublicensees and assignees a non-exclusive, transferable, perpetual, royalty-free, freely sublicensable (through multiple tiers) license to modify, compile, combine with other content, copy, record, synchronize, transmit, translate, format, distribute, publicly display, publicly perform, and otherwise use or exploit (including for profit) any and all of your User Content that you have not designated as “private,” your username, the picture associated with your username, and all intellectual property and moral rights therein throughout the universe, in each case, by or in any means, methods, media, or technology now known or hereafter devised.  Without limiting the foregoing, you acknowledge and agree that uses of your User Content, username, and associated picture permitted by the foregoing rights and licenses may include the display of such User Content, username, and associated picture adjacent to advertising and other material or content, including for profit.
</p><p>
Ownership of and licenses to User Content submitted in connection with a particular contest shall be governed by the contest rules applicable to that contest.  In connection with any such contest, if there is a conflict between those contest rules and these Terms of Use, the contest rules shall govern.
</p><p>
If you submit User Content to us, each such submission constitutes a representation and warranty to Farmivore that such User Content is your original creation (or that you otherwise have the right to provide the User Content), that you have the rights necessary to grant the license to the User Content under this Section, and that it and its use by Farmivore and its content partners as permitted by this Agreement does not and will not infringe or misappropriate the intellectual property, privacy, publicity, or moral rights of any person or contain any libelous, defamatory, or obscene material or content that violates our community guidelines set forth above.
</p><p>
9.         WARRANTY DISCLAIMER AND LIMITATION OF LIABILITY
</p><p>
YOU, AND NOT Farmivore, ARE SOLELY RESPONSIBLE FOR THE PROPER AND SAFE WASHING, PREPARATION, STORAGE, AND COOKING OF ALL PRODUCE.
</p><p>
OTHER THAN AS EXPRESSLY SET FORTH IN SECTION 6: (I) WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE PLATFORM, THE SERVICES, THE PRODUCE, THE CONTENT, THE TRADEMARKS, THE PRODUCTS ON THE PLATFORM, AND ALL OF THE FOREGOING ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT ANY WARRANTIES OF ANY KIND; (II) WE DISCLAIM ALL WARRANTIES, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES’ RIGHTS, AND FITNESS FOR PARTICULAR PURPOSE AND ANY WARRANTIES ARISING FROM COURSE OF DEALING, COURSE OF PERFORMANCE, OR USAGE OF TRADE; AND (III) YOU AGREE THAT YOU USE THE PLATFORM AND THE SERVICES AT YOUR OWN RISK.   
</p><p>
IN NO EVENT SHALL WE BE LIABLE FOR ANY INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM YOUR PURCHASE OF THE PRODUCE OR YOUR USE OR INABILITY TO USE THE PLATFORM OR THE SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER LEGAL THEORY, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  SOME STATES DO NOT ALLOW EXCLUSION OF IMPLIED WARRANTIES OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU.  IN SUCH CASES, OUR LIABILITY SHALL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.  IN ALL CASES, OUR MAXIMUM LIABILITY TO YOU (AND ANYONE CLAIMING RIGHTS THROUGH YOU) SHALL BE CAPPED AT THE MONIES PAID BY YOU TO Farmivore IN THE ONE (1) MONTH PERIOD PRECEDING THE DATE ON WHICH YOUR CLAIM AROSE. 
</p><p>
Farmivore HAS MADE EVERY EFFORT TO DISPLAY THE PRODUCT, COLORS, AND OTHER THINGS YOU SEE ON THE PLATFORM AS ACCURATELY AS POSSIBLE.  HOWEVER, THE FINAL PRODUCTS DELIVERED MAY VARY FROM THE IMAGES VIEWED ON THE PLATFORM DUE TO A NUMBER OF FACTORS THAT ARE NOT WITHIN OUR CONTROL, INCLUDING, WITHOUT LIMITATION, SYSTEM CAPABILITIES AND CONSTRAINTS OF YOUR COMPUTER, MANUFACTURING PROCESS ISSUES, AND THE AVAILABILITY AND VARIABILITY OF PRODUCT AND RAW MATERIALS.  ALTHOUGH WE WILL EXERCISE COMMERCIALLY REASONABLE EFFORTS TO HELP ENSURE THAT THE PRODUCTS CONFORM TO YOUR EXPECTATIONS, VARIATIONS SOMETIMES OCCUR.  ALL PRODUCT PRICING, SPECIFICATIONS, AND OFFERINGS ARE SUBJECT TO CHANGE WITHOUT NOTICE.  THE PLATFORM MAY CONTAIN INFORMATION ON SERVICES AND PRODUCTS THAT ARE NOT AVAILABLE IN EVERY LOCATION.  A REFERENCE TO A SERVICE OR PRODUCT ON THE PLATFORM DOES NOT IMPLY THAT IT IS OR WILL BE AVAILABLE IN YOUR LOCATION.  THE PLATFORM MAY CONTAIN TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS OR OMISSIONS. WE ARE NOT RESPONSIBLE FOR ANY SUCH TYPOGRAPHICAL, TECHNICAL, OR PRICING ERRORS.    
</p><p>
10.       EXTERNAL SITES
</p><p>
The Platform may contain links to third-party websites (“External Sites”).  These links are provided solely as a convenience to you and not as an endorsement by us of the content on such External Sites.  The content of such External Sites is developed and provided by others.  You should contact the site administrator or webmaster for those External Sites if you have any concerns regarding such links or any content located on such External Sites.  We are not responsible for the content of any linked External Sites and do not make any representations regarding the content or accuracy of materials on such External Sites.  You should take precautions when downloading files from all websites to protect your computer from viruses and other destructive programs.  If you decide to access linked External Sites, you do so at your own risk.
</p><p>
11.       INDEMNIFICATION 
</p><p>
You agree to defend, indemnify, and hold us and our officers, directors, employees, successors, licensees, and assigns harmless from and against any claims, actions, or demands, including, without limitation, reasonable legal and accounting fees, arising or resulting from your breach of this Agreement or your access to, use, or misuse of the Platform or the Services.  We shall provide notice to you of any such claim, suit, or proceeding and shall assist you, at your expense, in defending any such claim, suit, or proceeding.  We reserve the right to assume the exclusive defense and control of any matter that is subject to indemnification under this section.  In such case, you agree to cooperate with any reasonable requests assisting our defense of such matter.
</p><p>
12.       COMPLIANCE WITH APPLICABLE LAWS
</p><p>
The Platform and the Services (and their servers) are all based and operated in the United States.  We make no claims concerning whether the Content may be downloaded, viewed, or be appropriate for use outside of the United States.  If you access the Platform, the Services, or the Content from outside of the United States, you do so at your own risk.  Whether inside or outside of the United States, you are solely responsible for ensuring compliance with the laws of your specific jurisdiction.
</p><p>
13.       TERMINATION OF THE AGREEMENT
</p><p>
We reserve the right, in our sole discretion, to restrict, suspend, or terminate this Agreement and your access to all or any part of the Platform or the Services, at any time and for any reason without prior notice or liability.  We reserve the right to change, suspend, or discontinue all or any part of the Platform or the Services at any time without prior notice or liability.
</p><p>
14.       DIGITAL MILLENNIUM COPYRIGHT ACT
</p><p>
Farmivore respects the intellectual property rights of others and attempts to comply with all relevant laws. We will review all claims of copyright infringement received and remove any Content deemed to have been posted or distributed in violation of any such laws.
</p><p>
Our designated agent under the Digital Millennium Copyright Act (the “Act”) for the receipt of any Notification of Claimed Infringement which may be given under that Act is as follows:
</p><p>
Farmivore, Inc.
Attention: DMCA
214 W 29th St
New York, NY 10001
</p><p>
If you believe that your work has been copied on the Platform in a way that constitutes copyright infringement, please provide our agent with notice in accordance with the requirements of the Act, including (i) a description of the copyrighted work that has been infringed and the specific location on the Platform where such work is located; (ii) a description of the location of the original or an authorized copy of the copyrighted work; (iii) your address, telephone number and e-mail address; (iv) a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent or the law; (v) a statement by you, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf; and (vi) an electronic or physical signature of the owner of the copyright or the person authorized to act on behalf of the owner of the copyright interest.
</p><p>
15.       MISCELLANEOUS 
</p><p>
This Agreement is governed by the internal substantive laws of the State of New York, without respect to its conflict of laws provisions.  You expressly and irrevocably agree: (i) to submit to the exclusive personal jurisdiction of the state and federal courts sitting in the State of New York; and (ii) that the Platform and the Services shall be deemed passive that do not give rise to personal jurisdiction over Farmivore, either specific or general, in jurisdictions other than the State of New York.  YOU AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE PRODUCT, THE PLATFORM, OR THE SERVICES MUST BE COMMENCED BY YOU WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.  If any provision of this Agreement is found to be invalid by any court having competent jurisdiction or terminated in accordance with the Termination provision above, the invalidity or termination of such provision shall not affect the validity of the following provisions of this Agreement, which shall remain in full force and effect:  “Payment,” “Intellectual Property,” “Communications to Us; User Content,” “Warranty Disclaimer and Limitation of Liability,” “Indemnification,” “Termination of the Agreement,” and “Miscellaneous.”   
</p><p>
Our failure to act on or enforce any provision of the Agreement shall not be construed as a waiver of that provision or any other provision in this Agreement.  No waiver shall be effective against us unless made in writing, and no such waiver shall be construed as a waiver in any other or subsequent instance.  Except as expressly agreed by us and you in writing, this Agreement constitutes the entire Agreement between you and us with respect to the subject matter, and supersedes all previous or contemporaneous agreements, whether written or oral, between the parties with respect to the subject matter.  The section headings are provided merely for convenience and shall not be given any legal import.  This Agreement will inure to the benefit of our successors, assigns, licensees, and sublicensees.</p>