<div class="row">
  <div class="small-12 columns panel-box">
    <div class="row">
      <div class="small-12 columns">
        <h1>Say hello!</h1>
        <h3>We'd love to hear from you.</h3>
      </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-12 columns"><br /><br /><h6>For inquiries, support, and general issues, please email <%= mail_to 'hello@farmivore.com', 'hello@farmivore.com' %> </h6></div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <br /><br />
              <ul class="vcard">
                <li class="fn">Farmivore</li>
                <li class="street-address">55 Whitney Avenue</li>
                <li class="locality">New Haven</li>
                <li><span class="state">CT</span>, <span class="zip">06510</span></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


