<div class="row">
  <div class="small-12 columns panel-box centered">
    <h1>How we source</h1>
    
    <div class="row">
      <div class="small-10 colums small-offset-1 description">
        <p>Finding the right farms is one of the most challenging and rewarding aspects of our work. We pride ourselves on maintaining a network of local farms that can supply our boxes year-round.</p>
        <p>While we pay attention to certifications like “USDA Organic”, we realize that many small farms practicing organic and natural methods simply cannot afford the certification process. Instead of relying just on labels, we try to develop a relationship with the farmers and tour each farm before ordering any produce. Detailed information about each supplier farm comes in every box you receive.</p>
        <p>Our active sourcing list constantly evolves in response to factors like season, weather, and supply and demand.  Listed below, however, are a sampling of farms whose produce has appeared in our boxes in the past.</p>
        <br /><br />
        
        <div class="row">
          <div class="medium-6 small-12 columns">
            <ul class="no-bullet">
              <li><strong>Connecticut Producers</strong></li>
              <li>George Hall Farm  <em>(Simsbury, CT)</em></li>
              <li>Waldingfield Farm  <em>(Washington, CT)</em></li>
              <li>Urban Oaks Organic Farm  <em>(New Britain, CT)</em></li>
              <li>Northfordy Farm  <em>(Northford, CT)</em></li>
              <li>Lyman Orchards  <em>(Middlefield, CT)</em></li>
              <li>Stone Gardens Farm  <em>(Shelton, CT)</em></li>
              <li>Barberry Hill Farm  <em>(Madison, CT)</em></li>
              <li>Riverbank Farm  <em>(Roxbury, CT)</em></li>
              <li>Rose's Berry Farm  <em>(Glastonbury, CT)</em></li>
              <li>Blacktop Bloom  <em>(New Haven, CT)</em></li>
            </ul>
          </div>
          <div class="medium-6 small-12 columns">
            <ul class="no-bullet">
              <li><strong>Regional Producers</strong></li>
              <li>Lancaster Farm Fresh Cooperative  <em>(Lancaster, PA)</em></li>
              <li>Shushan Hydroponic  <em>(Salem, NY)</em></li>
              <li>Red Fire Farm  <em>(Granby, MA)</em></li>
              <li>Hoeffner Farms  <em>(Montgomery, NY)</em></li>
              <li>R&amp;M Andrews &amp; Sons Farm <em>(Calverton, NY)</em></li>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="small-12 columns email">
          <p>We are always looking for new producers with high quality products.  If you would like to inquire about sourcing for us, send us an email at <%= mail_to 'hello@farmivore.com', 'hello@farmivore.com' %>.</p>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>