<div class="row">
  <div class="small-12 columns centered">
    <h1 class="title"><strong>Produce done right.</strong></h1>
    <p class="subhead">Selected for nutrition, flavor, and freshness. Then delivered.</p>
    <hr />
  </div>
</div>

<div class="row">
  <div class="small-12 columns centered">
    <ul class="small-block-grid-3 medium-block-grid-5 featurettes">
      <li>
        <a href="#ft-fresh">
          <i class="fa fa-3x fa-pagelines"></i>
          <p><strong>Fresh and nutritious</strong><br /> Freshly harvested within hours of delivery</p>
        </a>
      </li>
      <li><a href="#ft-diverse">
        <i class="fa fa-3x fa-eye"></i>
        <p><strong>Diverse</strong><br />Wide selection of ripe local offerings</p></a>
      </li>
      <li><a href="#ft-convenient">
        <i class="fa fa-3x fa-credit-card"></i>
        <p><strong>Convenient</strong><br />One subscription for all your fresh produce needs</p></a>
      </li>
      <li><a href="#ft-cook">
        <i class="fa fa-3x fa-cutlery"></i>
        <p><strong>Easy to cook</strong><br />Simple preparation tips included</p></a>
      </li>
      <li><a href="#ft-honest">
        <i class="fa fa-3x fa-thumbs-up"></i>
        <p><strong>Honestly sourced</strong><br />From local farms with good practices</p></a>
      </li>
    </ul>
  </div>
</div>

<div class="row feature" id="ft-fresh">
  <div class="small-12 columns panel-box">
    <div class="centered">
      <i class="fa fa-3x fa-pagelines"></i>
      <h2>Fresh and nutritious</h2>
    </div>
    <div class="row">
      <div class="small-12 medium-6 medium-offset-1 columns featurette-text">
        <p>We’re obsessed with reducing the time between harvest and getting produce in your hands. Often, the items in your box are delivered within <strong>24 hours</strong> of harvest.</p><p>Less time in storage means vegetables keep more of their essential nutrients and stay fresh longer in your refrigerator. 
        </p>

      </div>
      <div class="small-12 medium-5 columns caption"><%= image_tag('greenbeans.jpg') %><small>Freshness is important for nutrition. Green beans can lose up to 77% of their vitamin C content from just one week's worth of cold storage.</small></div>
    </div>
  </div>
</div>

<div class="row feature" id="ft-diverse">
  <div class="small-12 columns panel-box">
    
    <div class="row">
      <div class="small-12 medium-5 columns"><%= image_tag('sungold-tomato.jpg'); %><small>Sun gold tomatoes have nearly the highest sugar and lowest acid levels of any tomatoes, but have thin skins that make them unsuitable for long transport. Find them in our summer boxes.</small></div>
      
      <div class="small-12 medium-7 columns featurette-text">
        <div class="centered"><i class="fa fa-3x fa-eye"></i>
        <h2>Diverse, ripe, and local</h2></div>
        <div class="featurette-text"><p>Most supermarket produce today is selected for high yield and long shelf-life. The local farmers we source from however, can grow more diverse and delicate varieties because they don’t need to worry about packing and shipping long distances.</p><p> Experience a whole new world of produce, with everything from pink baby ginger to juicy gooseberries. 
        </p></div>
      </div>
    </div>
    <br /><br /><br />
  </div>
</div>

<div class="row">
  <div class="small-12 columns panel-box">
    <div class="centered"><i class="fa fa-3x fa-credit-card"></i>
    <h2>Fresh and nutritious</h2></div>
    <div class="row">
      <div class="small-6 small-offset-1 columns featurette-text"><p>We’re obsessed with reducing the time between harvest and getting produce in your hands. Often, the items in your box are delivered within <strong>24 hours</strong> of harvest.</p><p>Less time in storage means vegetables keep more of their essential nutrients and stay fresh longer in your refrigerator. 
      </p></div>
      <div class="small-5 columns"><p>Image</p></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns panel-box">
    <div class="centered"><i class="fa fa-3x fa-cutlery"></i>
    <h2>Fresh and nutritious</h2></div>
    <div class="row">
      <div class="small-6 small-offset-1 columns featurette-text"><p>We’re obsessed with reducing the time between harvest and getting produce in your hands. We source directly from farmers and usually can deliver to your door within <strong>24 hours</strong> of harvest.</p><p>Less time in storage means vegetables keep more of their essential nutrients and stay fresh longer in your refrigerator. 
      </p></div>
      <div class="small-5 columns"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns panel-box">
    <div class="centered"><i class="fa fa-3x fa-thumbs-up"></i>
    <h2>Fresh and nutritious</h2></div>
    <div class="row">
      <div class="small-6 small-offset-1 columns featurette-text"><p>We’re obsessed with reducing the time between harvest and getting produce in your hands. Often, the items in your box are delivered within <strong>24 hours</strong> of harvest.</p><p>Less time in storage means vegetables keep more of their essential nutrients and stay fresh longer in your refrigerator. 
      </p></div>
      <div class="small-5 columns"><p>Image</p></div>
    </div>
  </div>
</div>
