<div class="row">
  <div class="small-12 columns centered">
    <h1 class="title"><strong>Produce done right.</strong></h1>
    <p class="subhead">Selected for nutrition, flavor, and freshness. Then delivered.</p>
    <hr />
  </div>
</div>

<div class="row">
  <div class="small-12 columns centered">
    <ul class="small-block-grid-3 medium-block-grid-5 featurettes">
      <li><a href="#ft-fresh">
        <i class="fa fa-3x fa-pagelines"></i>
        <p><strong>Fresh and nutritious</strong><br /> Freshly harvested within hours of delivery</p></a>
      </li>
      <li><a href="#ft-diverse">
        <i class="fa fa-3x fa-eye"></i>
        <p><strong>Diverse</strong><br />Wide selection of ripe local offerings</p></a>
      </li>
      <li><a href="#ft-convenient">
        <i class="fa fa-3x fa-credit-card"></i>
        <p><strong>Convenient</strong><br />One subscription for all your fresh produce needs</p></a>
      </li>
      <li><a href="#ft-cook">
        <i class="fa fa-3x fa-cutlery"></i>
        <p><strong>Easy to cook</strong><br />Simple preparation tips included</p></a>
      </li>
      <li><a href="#ft-honest">
        <i class="fa fa-3x fa-thumbs-up"></i>
        <p><strong>Honestly sourced</strong><br />From local farms with good practices</p></a>
      </li>
    </ul>
  </div>
</div>

<div class="row" id="ft-fresh">
  <div class="small-12 columns panel-box">
    <div class="centered"><i class="fa fa-3x fa-pagelines"></i>
    <h2>Fresh and nutritious</h2></div>
    <div class="row">
      <div class="small-6 small-offset-1 columns featurette-text"><p>We’re obsessed with reducing the time between harvest and getting produce in your hands. Often, the items in your box are delivered within <strong>24 hours</strong> of harvest.</p><p>Less time in storage means vegetables keep more of their essential nutrients and stay fresh longer in your refrigerator. 
      </p></div>
      <div class="small-5 columns"><p>Image</p></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns panel-box">
    <div class="centered"><i class="fa fa-3x fa-eye"></i>
    <h2>Fresh and nutritious</h2></div>
    <div class="row">
      <div class="small-6 small-offset-1 columns featurette-text"><p>We’re obsessed with reducing the time between harvest and getting produce in your hands. Often, the items in your box are delivered within <strong>24 hours</strong> of harvest.</p><p>Less time in storage means vegetables keep more of their essential nutrients and stay fresh longer in your refrigerator. 
      </p></div>
      <div class="small-5 columns"><p>Image</p></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns panel-box">
    <div class="centered"><i class="fa fa-3x fa-credit-card"></i>
    <h2>Fresh and nutritious</h2></div>
    <div class="row">
      <div class="small-6 small-offset-1 columns featurette-text"><p>We’re obsessed with reducing the time between harvest and getting produce in your hands. Often, the items in your box are delivered within <strong>24 hours</strong> of harvest.</p><p>Less time in storage means vegetables keep more of their essential nutrients and stay fresh longer in your refrigerator. 
      </p></div>
      <div class="small-5 columns"><p>Image</p></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns panel-box">
    <div class="centered"><i class="fa fa-3x fa-cutlery"></i>
    <h2>Fresh and nutritious</h2></div>
    <div class="row">
      <div class="small-6 small-offset-1 columns featurette-text"><p>We’re obsessed with reducing the time between harvest and getting produce in your hands. Often, the items in your box are delivered within <strong>24 hours</strong> of harvest.</p><p>Less time in storage means vegetables keep more of their essential nutrients and stay fresh longer in your refrigerator. 
      </p></div>
      <div class="small-5 columns"><p>Image</p></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns panel-box">
    <div class="centered"><i class="fa fa-3x fa-thumbs-up"></i>
    <h2>Fresh and nutritious</h2></div>
    <div class="row">
      <div class="small-6 small-offset-1 columns featurette-text"><p>We’re obsessed with reducing the time between harvest and getting produce in your hands. Often, the items in your box are delivered within <strong>24 hours</strong> of harvest.</p><p>Less time in storage means vegetables keep more of their essential nutrients and stay fresh longer in your refrigerator. 
      </p></div>
      <div class="small-5 columns"><p>Image</p></div>
    </div>
  </div>
</div>
