
<div class="row button-group">
  <div class="small-12 columns centered"> 
   <%= render 'shared/signup_button_large'%>
  </div>
</div>


  <div class="centered"><%= render 'shared/signup_button' %></div>
  

