<section class="intro">
  <div class="row show-for-medium-up">
    <div class="large-8 columns large-offset-4 medium-12">
      <h1>A better way to juice</h1>
    </div>
  </div>
  <div class="row show-for-medium-up">
    <div class="large-5 columns large-offset-7 medium-6 medium-offset-6">
      <ul class="no-bullet">
        <li><h5>Fresh, organic ingredients</h5></li>
        <li><h5>Healthy, delicious recipes</h5></li>
        <li><h5>Delivered to your door</h5></li>
      </ul>

      <%= render 'shared/signup_button_large'%>

    </div>
  </div>
</section>
<div class="row show-for-small-only centered">
    <div class="small-12 columns">
        <h1>A better way to juice</h1>
    </div>
    <div class="small-12 columns">
      <ul class="no-bullet">
        <li><h5>Fresh, organic ingredients</h5></li>
        <li><h5>Healthy, delicious recipes</h5></li>
        <li><h5>Delivered to your door</h5></li>
      </ul>
      <%= render 'shared/signup_button_large'%>
    </div>
</div>




