<%= render 'shared/status_bar', stage: 2 %>  


<div class="row">
  <div class="medium-8 small-12 columns">
    
    <%= render 'form', order: @order %> 

  </div>

  <div class="medium-4 small-12 columns">
    
    <%= render 'shared/sidebar', order: @order, charges: nil %> 
    
  </div>
</div>
