<%# Wrapper %>
<div class="bg">
  <div class="row product-page">
    <div class="small-12 columns">
      <div class="row product-box">
<%# Wrapper %>

<div class="small-10 small-centered columns statusbar">
  <%= render 'shared/status_bar', stage: 2 %>  
</div>

<div class="row">
  <div class="medium-8 small-12 columns">
    
    <%= render 'form', order: @order %> 

  </div>

  <div class="medium-4 small-12 columns">
    
    <%= render 'shared/sidebar', order: @order, charges: nil %> 
    
  </div>
</div>



<%# Wrapper %>
      </div>
    </div>
  </div>
</div>
<%# Wrapper %>