<%= render 'shared/order_bg_1', stage: 2 %>  

<!-- Order Form Page 2-->
<div id="page-2">
        <%= render 'form' %>
</div>
<!-- Order Form Page 2-->

<% #call with empty array: right column doesnt show.  %>
<%= render 'shared/order_bg_2', summary: {title: "hello world!"}, order: @order %> 

