<div class="box-header row">
  <div class="large-8 columns large-centered centered">
    <h1 class="header"> Build a Box </h3>
    <h2 class="subheader">You pick, we pack</h4>
  </div>
</div>


<div class="box-steps row">
  <div class="large-12 columns large-centered">
    <h2> 1. Build your box </h2>
    {{render "box_options" modules}}

    <h2> 2. Pick a plan </h2>
    {{render "plan_options"}}

    <!--
    <h2> 3. Fill out your info </h2>
    FORMS GO HERE
    -->
    <div class="centered"><a class="check-out-button"> Continue to checkout </a></div>
  </div>
</div>

