<div class="row">
  <div class="large-8 columns large-centered">
  <ul class="plan-options">
    {{#each plan in plans}}
    <li>
      {{render "plan_option" plan}}
    </li>
    {{/each}}
  </ul>
  </div>
</div>
