<span class="highlight">
<span class="description"> {{listing.description}} </span>
<span class="at-sign"> @ </span>
<span class="price">{{listing.priceString}}</span>
</span>
<td>{{listing.farm.name}}</td>

<span class="hover-unhide pull-right">
<a {{action removeListing listing}} class="remove-listing"><i class="fa fa-times"></i>Remove</a>
</span>
