{{#if content}}
  <div class="shopping-list-header">
    <h3>Your shopping list</h3>
  </div>
  <ol class="shopping-list-items">
  {{#each listing in content}}
    {{render "shopping_list_item" listing}}
  {{/each}}
  </ol>
  <div class="shopping-list-summary">
    <ul>
      <li>Number of items: {{totalNumItems}}</li>
      <li>Total cost: ${{totalCost}}</li>
    </ul>
  </div>
{{/if}}
