<div class="shopping-list-header">
  <h3>Your shopping list</h3>
</div>
{{#if content}}
<ol class="shopping-list-items">
  {{#each listing in content}}
  {{render "shopping_list_item" listing}}
  {{/each}}
</ol>
<div class="shopping-list-summary">
  <ul>
    <li>Number of items: {{totalNumItems}}</li>
    <li>Total cost: ${{totalCost}}</li>
  </ul>
</div>
{{else}}
<div class="empty">
  Your shopping list is empty. <br>
  Browse the listings below and add the things you like!
</div>
{{/if}}
