@import "font-awesome";
@import "foundation_and_overrides";
@import "constants";
@import "utils";
@import "messages";
@import "nav";
@import "footer";
@import "welcome";
@import "boxes";
@import "charges";

body {
  background-color: white;
}

.centered {
  text-align: center;
}

a {
  cursor: pointer;
}


a.action-minor {
  color: $lightGray1;
}
a.action-minor:hover {
  color: $darkGray1;
}

