@import "foundation_and_overrides";
@import "constants";
@import "utils";
@import "welcome";
@import "messages";
@import "nav";
@import "footer";

body {
  background-color: black;
  // background-color: $IMP;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
