.boxes{
  .field_with_errors{
    border-left: 2px solid red;
    border-right: 2px solid red;
  }
  #payment_box{
    display:none;
  }
}

.boxes .header-main {
  text-align: center;
  }
.box-options{
}
.box-option {
  @extend .pricing-table;
  border: 3px transparent solid;
  &:hover {
    border: 3px $orangeAccent solid;
    }
}
