//New Boxes Page styling
.boxes.new{


  //full page styles
  
  .panel{
    font-size: 13px;
    text-align: center;
  }
  #payment_box{
    display:none;
  }

  .boxes .header-main {
    text-align: center;
    margin-bottom:0px;
  }

  .box-option {
    @extend .pricing-table;
    border: 3px transparent solid;
    &:hover {
      border: 3px $orangeAccent solid;
      }
  }
  //intro section styles
  section.intro{
    .subheader{
      margin-top: 20px;
    }

    .header-indent{
      font-size:13px;
    }

  }
  section.select{


  }


}

//Create Boxes Page styling
.boxes.create{

}