// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//confirmation page
.charges.create{
    .panel-box{
      padding:30px;
      margin-top:20px;
      padding-top:20px;
      background-color:white;
      -moz-box-shadow:    0px 0px 2px 0px $white2;
      -webkit-box-shadow: 0px 0px 2px 0px $white2;
      box-shadow:         0px 0px 2px 0px $white2;
    }
    .header{
      margin-top:30px;
      font-weight:bold;
      text-align:center;
      color:$darkGray;
    }
    .subheader{
      margin-bottom:0px;
      text-align:center;
    }
    a .fa-facebook-square{
      color: #00be4c;
    }
    a .fa-twitter-square{
      color: #ff8f00;
    }
    a .fa-tumblr-square{
      color:#00a9e4;
    }
}