footer {

  background-color: $midGray;
  //border-top: 1px solid $yellow;
  hr{
    border: 1px solid $white1;
  }
  padding-top:35px;
  .threesplit{
    ul{
      color: $white1;
      margin-bottom: 0px;
      font-size:12px;
    }
    .copy{
      font-size:12px;
      text-align:right;
    }
  }

}
