footer {
  // border-top: 1px solid $yellow;
  background-color: $white3;
  padding-top:15px;
  .threesplit{
    ul{
      color: $white1;
      margin-bottom: 0px;
      font-size:12px;
     // li:nth-of-type(2n) {
     //   border-right: 1px dotted $lightGray3;
     //   border-left: 1px dotted $lightGray3;
     // }
    }
    .copy{
      font-size:12px;
      text-align:right;
    }
  }

}
