.fv-button{
  @include button(1rem,$orangeAccent,10px,false,false,false);
  border:0px;
}
.fv-button-disabled{
  @include button(1rem,$orangeAccent,10px,false,true,false);
  border:0px;
}
.green-button{
  position:relative;
  @include button(1rem,$greenButton,10px,false,false,false);
  border:4px solid white;
  h3{
    color:white;
    font-weight:bold;
    margin-bottom:0px;
  }
  small{
    color:$white2;
  }
  .price-tag{
    position:absolute;
    right:-35px;
    top:-35px;
    z-index:10;
    font-size:12px;
    strong{
      font-size:20px;
    }
    background-color:$orangeAccent;
    border: 2px solid gold;
    padding:10px;
    padding-top:8px;
    padding-bottom:14px;
    border-radius: 50%;
  }
}
.signup-button-large{
}


.text-right{
  text-align:right;
}

 a {
    cursor: pointer;
}

a.action-minor {
    color: $lightGray1;
}

a.action-minor:hover {
    color: $darkGray1;
}  


hr.style-eight {
  padding: 0;
  border: none;
  //rc: changed from 333 to ccc for the white background
  border-top: medium double #ccc;
  color: #333;
  text-align: center;
}

hr.style-eight:after {
  content: "§";
  //rc: added in this color below for the white background
  color: #ccc;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1.5em;
  padding: 0 0.25em;
  // background: $splashBoxBg;
}

.super-script{
  font-size: 50%;
  vertical-align: super;
  }

.centered {
  text-align: center;
}

.field_with_errors{
  input{
    border: 1px solid red;
  }
}

