a .fa-facebook-square{
      color: #00be4c;
    }
    a .fa-twitter-square{
      color: #ff8f00;
    }
    a .fa-tumblr-square{
      color:#00a9e4;
    }

.grey-button{
  @include button(0.25rem,$darkGray,5px,true,false,false);
  text-transform:uppercase;
  font-weight:bold;
}
.product-cta-button{
  @include button(1rem,$orange,20px,false,false,false);
  padding-top:20px;
  font-size:30px;
  line-height:24px;

}

.fv-button{
  @include button(1rem,$orangeAccent,10px,false,false,false);
  border:0px;
}
.fv-button-disabled{
  @include button(1rem,$orangeAccent,10px,false,true,false);
  border:0px;
}
.orange-button{
  position:relative;
  @include button(0rem,$orange,7px,true,false,false);
  //border:4px solid white;
  -moz-box-shadow:    1px 1px 4px 0px $darkGray;
    -webkit-box-shadow: 1px 1px 4px 0px $darkGray;
    box-shadow:         1px 1px 4px 0px $darkGray;
  h3{
    color:white;
    font-weight:bold;
    font-size:30px;
    margin:0px;
    padding:0px;
  }
}
.green-button{
  position:relative;
  @include button(0.5rem,$lightgreen,10px,true,false,false);
  //border:4px solid white;
  h3{
    color:white;
    font-weight:bold;
    font-size:44px;
    margin:0px;
    padding:0px;
  }
  small{
    font-size:20px;
    position:relative;
    top:-5px;
    color:darken($lightgreen,30%);
  }
  .price-tag{
    -moz-box-shadow:    1px 1px 2px 0px $darkGray;
    -webkit-box-shadow: 1px 1px 2px 0px $darkGray;
    box-shadow:         1px 1px 2px 0px $darkGray;
    position:absolute;
    right:-40px;
    top:-40px;
    z-index:10;
    font-size:12px;
    font-weight:light;
    strong{
      font-size:40px;
      line-height:7px;
      font-weight:600;
    }
    background-color:$orangeAccent;
    padding:10px;
    padding-top:29px;
    padding-bottom:11px;
    border-radius: 50%;
  }
}

.signup-button-large{
}


.text-right{
  text-align:right;
}

 a {
    cursor: pointer;
}

a.action-minor {
    color: $lightGray1;
}

a.action-minor:hover {
    color: $darkGray1;
}  


hr.style-eight {
  padding: 0;
  border: none;
  //rc: changed from 333 to ccc for the white background
  border-top: medium double #ccc;
  color: #333;
  text-align: center;
}

hr.style-eight:after {
  content: "§";
  //rc: added in this color below for the white background
  color: #ccc;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1.5em;
  padding: 0 0.25em;
  // background: $splashBoxBg;
}

.super-script{
  font-size: 50%;
  vertical-align: super;
  }

.centered {
  text-align: center;
}

.field_with_errors{
  input{
    border: 1px solid red;
  }
}

