@import "constants";

//@media (max-width: 800px) {
 // .blockgrid {
  //  display: none;
  //}
//}


.mvp {

	.centered{
		background-color: $greenMute;
	}

	.landing{
		background-color: white;
		h3{
			margin-top:40px;
		}
		a{
			font-size: 120%;
		}
	}

	.farmer{
		padding:40px;
	}

	a {color: $orangeAccent; }
	a:hover{ color: $black3; }

	p {
	font-family: "Georgia", "Times", "Times New Roman", serif;
	}

	.blockgrid{
		background-color: white;
		img {
			min-width:600px;
		}
	}

	@media (max-width: 500px) {
	  .blockgrid img {
	    position:relative;
	    right:50px;
	  }
	}

}


// Place all the styles related to the mvp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
