@import "constants";

nav.top-bar {
  height: $navHeight;
  background: $navBg;
  border-bottom: 1px solid $white3;
  //position: absolute;  rc: porque?
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 100;
  padding-top: 14px;
  margin-bottom: 0px;

  img {
    height: $logoHeight;
    width: auto;
  }

  .nav-menu {
    float:right;
    display: inline-block;
    //font-family: 'Open Sans',"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 9pt;
    letter-spacing: 1px;
    font-weight:800;
    margin-top: 5px;
    margin-right: 10px;

    a {
      color: $tealSoft;
    }
    a:hover{ color: $black1; }
  }
}

