
nav.top-bar{
   img {
    height: $logoHeight;
    width: auto;
    margin:14px;
    margin-right:21px;
    margin-left:35px;

  }
  -moz-box-shadow:    0px 0px 2px 0px $white2;
  -webkit-box-shadow: 0px 0px 2px 0px $white2;
  box-shadow:         0px 0px 2px 0px $white2;
}
