//progress bar isn't wrapped inside a specific controller
.progress-bar{
  padding-bottom:30px;
  .progress{
    position:relative;
    ul{
      position:absolute;
      width:100%;
      li{
        text-transform:uppercase;
        font-size:12px;
        a{
          color:green;
        }
      }
      li.active{
        color:white;

      }
    }
  }
}

.charges.new{
  #promocode-show{
    display:none;
  }
}

.orders.new, .orders.edit, .charges.new, .orders.create{
  .first_delivery_date{
    display:none;
  }
  .first_delivery_date.active{
    display:block;
  }
  h1{
    font-weight:bold;
    font-size:35px;
    color:$darkGray;
  }
  h3{
    font-weight:bolder;
    color:$darkGray;
  }
  .summary{
    padding-bottom:20px;
    border:1px dashed $lightGray3;
  }
  .promocode-field{
    display:none;
    a{
      font-size:10px;
    }
  }
  .pc-done{
    color:green;
  }
  .pricer{
    span{
      margin-top:5px;
      line-height:22px;
    }
  }
}