//progress bar isn't wrapped inside a specific controller
.progress-bar{
  margin-top:20px;
  margin-bottom:20px;
  .progress{
    position:relative;
    ul{
      position:absolute;
      width:100%;
      li{
        text-transform:uppercase;
        font-size:12px;
      }
      li.active{
        color:white;
      }
    }
  }
}