// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'constants';

.highlightSearch{
  a{
    color:white;
  }
}

.places{

  .datestamp {
    background-color: $orangeAccent;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 15px;
  }
  .placestamp{
    margin-top: -25px;
  }

  p, table {
    font-family: "Georgia", "Times", "Times New Roman", serif;
  }

  th{
    background-color: $greenSoft;
  }

  .sortarrows{
    font-size:11px;
    margin-left:5px;
  }

  .fresh{
    // color: $greenAccent;
  }

  .filters{
    text-align: right;
  }
}

.place {

}
.place-listings {
  @extend .panel;

  a.add-button {
    color: $greenMute;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .listing td{
    font-size: 16px;
  }

  width: 960px;
  margin: 0 auto;

}

.place-listings-header {
  h3 {
    text-align: center;
    font-family: "Georgia", "Times", serif
  }
  .fresh {
    color: $orangeAccent;
    text-align: center;
    }

}
