// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'constants';



.highlightSearch{
	color:white;
}

.places{
	a{
		color: $orangeAccent;
	}

	.form-signup{
		a{
			color: white;
		}
	}

	th{
		background-color: $greenSoft;
	}

	.thisweek{
		margin-bottom: 85px;
	}

	.sortarrows{
		font-size:11px;
		margin-left:5px;
	}

	.fresh{
		color: $greenAccent;
	}

	.filters{
		text-align: right;
	}
}