.products.select{
  .bg{
    background-image: url(image-path("v100/productpage-bg.jpg"));
    background-repeat: no-repeat;
    background-position: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .product-page{
    padding-top:50px;
    padding-bottom:50px;
    .product-box{
      background-color:white;
      border-radius:20px;
      h1{
        font-weight:bold;
        color:$darkGray;
        margin-top:20px;
        font-size:40px;        
      }
      .statusbar{
        margin-top:20px;
      }
    }

  }
}