hr.style-eight {
  padding: 0;
  border: none;
  //rc: changed from 333 to ccc for the white background
  border-top: medium double #ccc;
  color: #333;
  text-align: center;
}

hr.style-eight:after {
  content: "ยง";
  //rc: added in this color below for the white background
  color: #ccc;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1.5em;
  padding: 0 0.25em;
  // background: $splashBoxBg;
}

.super-script{
  font-size: 50%;
  vertical-align: super;
  }
