
.index.welcome{
  section.intro{
    @media only screen 
    and (min-width : 1046px) {
      .row.show-for-medium-up{
        position:relative;
        left:40px;
      }
    }
    padding-top:50px;
    background-image: url(image-path("v100/header-faded.jpg"));
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:black;
    min-height:350px;
    h1{
      margin-top:0px;
      font-size:60px;
      font-weight:bolder;
      color:white;
      text-align:right;
    }
    ul{
      li{
        h5{
          font-size:30px;
          color:white;
          margin-top:30px;
          text-align:left;
        }
      }
    }
    .green-button{
            margin-top:60px;
            margin-bottom:70px;
    }
  }  

  section.juices{
    padding-top:50px;
    background-image: url(image-path("v100/greenjuice.png"));
    background-repeat: no-repeat;
    background-position: right;
    background-color:white;
    min-height:350px;
    h1{
      margin-top:0px;
      font-size:55px;
      font-weight:bold;
      text-transform:uppercase;
      color:$midGray;
      line-height:55px;
    }
    ul{
      li{
        h5{
          font-size:20px;
          margin-top:30px;
          text-align:left;
          color:$midGray;
        }
      }
    }
    .orange-button{
        margin-top:10px;
        margin-bottom:45px;
    }
  }  

  section.plans{
    padding-top:50px;
    background-image: url(image-path("v100/greybg-pattern.png"));
    background-repeat: repeat;
    background-position: right;
    background-color:$midGray;
    min-height:350px;
    img{
      margin:20px;
    }
    h1{
      margin-top:0px;
      font-size:55px;
      font-weight:bold;
      text-transform:uppercase;
      color:$midGray;
      line-height:55px;
    }
    ul{
      li{
        h5{
          font-size:20px;
          margin-top:30px;
          text-align:left;
          color:$midGray;
        }
      }
    }
    .orange-button{
        margin-top:10px;
        margin-bottom:45px;
    }
  } 


  .wooden{
    background-image: url(image-path("v100/woodbg-pattern.png"));
    background-repeat: repeat;
  }
  section.therest{
    padding-top:50px;
    background-image: url(image-path("v100/strawberryscale.png"));
    background-repeat: no-repeat;
    background-position: 80%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height:350px;
    h1{
      margin-top:0px;
      font-size:55px;
      font-weight:bold;
      text-transform:uppercase;
      color:white;
      line-height:55px;
    }
    h3{
      margin-top:40px;
      font-weight:bold;
      color:white;
      font-size:28px;
    }
    ul{
      li{
        h5{
          font-size:24px;
          font-weight:bold;
          margin-top:30px;
          text-align:left;
          color:$midGray;
        }
      }
    }
    .orange-button{
        margin-top:10px;
        margin-bottom:45px;
    }
  }




}

