.welcome{
  h1.header{
    margin-top:30px;
    margin-bottom:20px;
      color:$darkGray;
      font-weight:bold;
  }
  .panel-box{
    margin-top:30px;
    padding-top:20px;
    background-color:white;
    -moz-box-shadow:    0px 0px 2px 0px $white2;
    -webkit-box-shadow: 0px 0px 2px 0px $white2;
    box-shadow:         0px 0px 2px 0px $white2;
    padding-bottom:20px;
  }
}

.welcome.index{

  section.introduction.segment {
    padding-top: 10px;
    background-color:$greenPrimary;
    //background gradient  http://www.colorzilla.com/gradient-editor/
    //background: $greenPrimary; /* Old browsers */
    //background: -moz-linear-gradient(-45deg, $greenPrimary 0%, $greenPrimaryLight 100%); /* FF3.6+ */
    //background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$greenPrimary), color-stop(100%,$greenPrimaryLight)); /* Chrome,Safari4+ */
    //background: -webkit-linear-gradient(-45deg, $greenPrimary 0%,$greenPrimaryLight 100%); /* Chrome10+,Safari5.1+ */
    //background: -o-linear-gradient(-45deg, $greenPrimary 0%,$greenPrimaryLight 100%); /* Opera 11.10+ */
    //background: -ms-linear-gradient(-45deg, $greenPrimary 0%,$greenPrimaryLight 100%); /* IE10+ */
    //background: linear-gradient(135deg, $greenPrimary 0%,$greenPrimaryLight 100%); /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$greenPrimary', endColorstr='$greenPrimaryLight',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 

  h1{
      padding-top: 40px;
      line-height: 56px;
      color: white;
      font-weight:bold;
      font-size:48px;
      margin-bottom:50px;
  }

  h5{
      line-height: 25px;
      font-size: 22px;  
      color:$white3;
      margin-bottom:30px;
      }

    .landing-page-tag {
      margin-top: 20px;
      z-index: 2;
    }

    #cabbage-image {
      position: relative;
      left:-70px;
      top:-10px;
      z-index: 0;
      max-width: 135%;
      min-width:300px;
    }

    .learn-more-button {
      @include button(1rem,$orangeAccent,10px,false,false,false);
      margin-left:25px;
    }
    .get-started-button {
      @include button(1rem,$white3,10px,false,false,false);
      margin-left:25px;
    }

    .button-group{
      margin-top:25px;
      margin-bottom:25px;
    }

  } // -- end section.introduction



  .now-serving{
    margin-top:0px;
    padding-top:20px;

    p{
      color:$lightGray1;
      strong{
        color:$black3;
      }
    }
  }

  section.how-it-works.segment {
    border-top: solid 1px $white2;
    border-bottom: solid 1px $white2;

    background: white;
    .three-points{
      padding-top:30px;
      padding-bottom:20px;
    }
    .step-option {
      padding: 10px;
      font-size: 22px;
      .title {
        font-size: 22px;
        // text-transform: uppercase;
        color: $greenLightAccent;
        margin: 0;
      }
      .caption {
        font-size: 16px;
        font-weight: normal;
        color: #555555;
        padding:0px;
        margin:0px;
     
      }
    }
  }//-------end section how it works

  blockquote{
    border-left:0px;
  }
  .fa-star{
    color:$gold;
  }
}


//////////// welcome#features

.welcome.features{
  .title{
    margin-top:30px;
    color:$darkGray;
  }
  .subhead{
    color:$midGray;
    font-size:20px;
  }
  .featurettes{
    margin-top:10px;
    margin-bottom:-30px;
    p{
      font-size:12px;
      color:$darkGray;
    }
    a:hover{
       .fa-pagelines{
          color: darken($greenMute,6%);
        }
        .fa-star-o{
          color: darken($redAccent,6%);
        }
        .fa-cutlery{
          color: darken($midGray, 6%);
        }
        .fa-thumbs-up{
          color:darken($gold,6%);
        }
    }
  }
  .fa-pagelines{
    color: $greenMute;
  }
  .fa-star-o{
    color: $redAccent;
  }
  .fa-cutlery{
    color: $midGray;
  }
  .fa-thumbs-up{
    color:$gold;
  }

  .feature{
    h2{
      margin-bottom:60px;
    }
    .caption{
        position:relative;
        img{
          position:relative;
          top:20px;
        }
        small{
          position:absolute;
          width:260px;
          left:70px;
          top:20px;
          line-height:12px;
        }
    }
    .featurette-text{
      padding-left:20px;
      padding-right:20px;
    }

  }
  #ft-diverse{
    img{
      max-width:120%;
      margin-bottom:15px;

    }
    .small{
     padding-left:30px;
     font-size:10px;
    }
  }

  #ft-convenient, #ft-honest{
    .get-started-button{
      @include fv-button();
    }
  }
  
}


.welcome.farms{
  
  .description{
    margin-top:30px;
  }
  .email{
    margin-top:20px;
    margin-bottom:20px;
  }
  .get-started-button{
    @include fv-button();
  }
}

.welcome.about{
  h2{
    margin-bottom:15px;
  }
  .bios{
    padding-top:20px;
    padding-bottom:20px;
    img{
      margin:10px;
      border: 1px solid $midGray;
    }
  }

}



