<p>
  <strong>farm id:</strong>
  <%= @product.farm_id %>
</p>

<p>
  <strong>title:</strong>
  <%= @product.title %>
</p>
 
<p>
  <strong>description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>price:</strong>
  <%= @product.price %>
</p>
