<div class="row centered">
  <div class="small-12 columns">
    <h2 class="header">You're all set! <br />Thanks for subscribing.</h2>
   

    <div class="row">
      <div class="small-7 small-centered columns">
         <h6>Payment was successful, and you should receive a confirmation email within the next 24 hours.</h6>
         <br /><hr /><br />
         <p>In the meantime, check us out on social media and follow for the latest updates and specials.</p>
         <br />
         <ul class="small-block-grid-3">
          <li><a href="https://www.facebook.com/farmivore"><i class="fa fa-3x fa-facebook-square"></i></a></li>
          <li><a href="https://twitter.com/eatfromfarms"><i class="fa fa-3x fa-twitter-square"></i></a></li>
          <li><a href="http://farmivore.tumblr.com/"><i class="fa fa-3x fa-tumblr-square"></i></a></li>
         </ul>

      </div>
    </div>
    
  </div>
</div>