<h1>List of our places</h1>
 
<table>
  <tr>
    <th>City</th>
    <th>State</th>
  </tr>
 
  <% @places.each do |place| %>
    <tr>
      <td><%= place.title %></td>
      <td><%= place.state %></td>
    </tr>
  <% end %>
</table>