<div class="row">
	<div class="large-12 columns">
		<h1><%= 'Wooster Square Farmers Market' %></h1>
	</div>
</div>


<div class="thisweek">
	<div class="row">
		 	<div class="large-12 columns">
				<h2>Saturday, November 2</h2>
			</div>
	</div>
	
	<div class="centered">
		<div class="row">
			 	<div class="large-12 columns">
					<br /><br /><br /><br />
					<p><em>Listings will be made available on Friday, November 1</em></p>
					<p><%= link_to "Subscribe", new_user_registration_path %> to be notified when listings are available.
					<br /><br /><br /><br />

				</div>
		</div>
	</div>


</div>

<div class="row">
<div class="panel">
		<div class="lastweek">
				<div class="row">
				 	<div class="large-12 columns">
						<h2>Last week (date)</h2>
					</div>
				<div class="row">
				 	<div class="large-12 columns">
							
							<table class="datatable">
							    <thead>
							        <tr>
							            <th>Item</th>
							            <th>Description</th>
							            <th>Price</th>
							            <th>Season</th>
							            <th>Farm</th>
							            <th>Farmer</th>
							            <th>Reviews</th>
							        </tr>
							    </thead>
							    <tbody>
							        <tr>
							            <td>Kale</td>
							            <td>Lacinato. Gets sweeter after the first frost. Great for cooking, super healthy!</td>
							            <td>$2 / lb</td>
							            <td>Until Dec 15th</td>
							            <td>Green Acre Organics</td>
							            <td>John Wilson</td>
							            <td><em>write the first</em></td>
							        </tr>
							        <tr>
							            <td>Row 2 Data 1</td>
							            <td>Row 2 Data 2</td>
							            <td>etc</td>
							        </tr>
							    </tbody>
							</table>

					</div>
				</div>
		</div>
	</div>
</div>