<footer>
  <div class="threesplit">
    <div class="row">
      <div class="large-12 columns">
        <ul class="small-block-grid-3 large-block-grid-3 centered">
          <hr>
          <li>
            <ul class="inline-list">
              <li><%= link_to "About us", mvp_farms_path %></li>
              <li><%= link_to "Blog", mvp_farms_path %></li>
              <li><%= link_to "Contact", mvp_farms_path %></li>
              <li><%= link_to "Terms", mvp_farms_path %></li>
            </ul>
          </li>
          <li><p>&nbsp;</p></li>
          <li class="pull-right"><p>&copy; Farmivore 2013. All rights reserved.</p></li>
        </ul>
      <div>
    </div>
  </div>
</footer>
