<footer>
  <div class="threesplit">
    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-1 medium-block-grid-3">
          <hr>
          <li>
            <ul class="inline-list">
              <li><%= link_to "About us", welcome_about_path %></li>
              <li><%= link_to "Blog", welcome_farms_path %></li>
              <li><%= link_to "Contact", welcome_contact_path %></li>
            </ul>
          </li>
          <li class="right"><p class="copy">&copy; Farmivore 2013. All rights reserved.</p></li>
        </ul>
      <div>
    </div>
  </div>
</footer>
