<footer>
  <div class="threesplit">
    <div class="row">
      <ul class="small-block-grid-3 large-block-grid-3 centered">

        <li><p>&copy; Farmivore 2013. All rights reserved.</p></li>

        <li><p>Our mailing address:<br />
          Farmivore<br />
          55 Whitney Ave., 2nd floor <br />
          New Haven, CT 06510, USA</p>
      </li>

      <li><p>Need any help using the site? <br />Reach us at <%= mail_to "support@farmivore.com", "support@farmivore.com" %><br /></p></li>
    </ul>
  </div>
</div>
</div>
</footer>
