<footer>
  <div class="threesplit">
    <div class="row">
      <div class="small-12 columns">
        <br /><br /><br />
        <ul class="small-block-grid-1 medium-block-grid-3">
          <li>
          
            <ul class="inline-list">
              <li><a href="https://www.facebook.com/farmivore"><i class="fa fa-3x fa-facebook-square"></i></a></li>
              <li><a href="https://twitter.com/eatfromfarms"><i class="fa fa-3x fa-twitter-square"></i></a></li>
              <li><a href="http://farmivore.tumblr.com/"><i class="fa fa-3x fa-tumblr-square"></i></a></li>
             </ul>
            <p>&copy; Farmivore, Inc 2014.<br /> All rights reserved.</p>
          </li>
          <li>
            <p><strong>Need help?</strong><br />
              <%= link_to 'Frequently asked questions', welcome_faq_path %><br />
              Email: <%= mail_to 'hello@farmivore.com' %><br />
              Telephone: (800) 507-9396</p>
          </li>
          <li>
            <p>Farmivore, Inc<br />
              214 W 29th St, 5th Floor<br />
              New York, NY 10001<br />
              USA</p></li>
        </ul>
      <div>
    </div>
  </div>
</footer>
