<footer>
  <div class="threesplit">
    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-1 medium-block-grid-3">
          <hr>
          <li>
           
          </li>
          <li class="right"><p class="copy">&copy; Farmivore, Inc 2014. All rights reserved.</p></li>
        </ul>
      <div>
    </div>
  </div>
</footer>
