<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert-box <%= name == :notice ? "success" : "error" %>">
      <a class="close" href="#">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>