<div class="topbar-wrapper">
<div class="row">
  <div class"small-12 columns">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
           <%= link_to image_tag('logo-allcaps.png', id: 'logo'), root_path %>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">


        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="#"><%= link_to 'Learn more', welcome_faq_path %></a></li>
          <li><a href="#"><%= render 'devise/menu/registration_items' %></a></li>
          <li><a href="#"><%= render 'devise/menu/login_items' %></a></li>
        </ul>
      </section>
    </nav>
  </div>
</div>    
</div>
    




