<div class="nav">

  <div class="row">
    <div class="small-12 columns">
      <ul class="inline-list right">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">


    <%= link_to image_tag('logo-allcaps.png', id: 'logo'), root_path %>


    </div>
  </div>

</div>



