<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <%= link_to image_tag('logo-WG-25px.png'), root_path %>
    </li>
  </ul>
  <ul class="right">
  	<li class="divider"></li>
  	 <li><%= link_to 'FARMER LOGIN', new_farmer_session_path %></li>
  </ul>
</nav>